.loginpage{
    height: 90vh;
     .form__group{
        max-width: 30%;
        margin: 5% auto;
        .login__text{
            &>*{
                margin-bottom: 1rem;
            }
        }
        form{
            
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            &>*{
                margin-bottom: 1rem;
            }
            .forget__password{
                text-align: right;
            }
            .register{
                text-align: center;
            }
            .error{
                background-color: rgb(233, 71, 71);
                color: white;
                padding: .7rem 1.1rem;
                font-size: 13px;
                text-align: center;
                border-radius: 4px;
            }
        }
     }
}
@media screen and (max-width:650px){
    .loginpage{
        .form__group{
            margin: 20% auto;
            max-width: 80%;
        }
    }
}