.forgetpage{
    height: 90vh;
    .forget__group{
        max-width: 25%;
        margin: 5% auto;
        .forget__text{
            &>*{
                margin-bottom: 1rem;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            &>*{
                margin-bottom: 1rem;
            }
            a{
                text-align: right;
            }
        }
    }   
}
@media screen and (max-width:650px){
    .forgetpage{
        .forget__group{
            margin: 20% auto;
            max-width: 80%;
        }
    }
}