button{
    border: none;
    background-color: rgb(133, 133, 228);
    padding: .7rem 1.1rem;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    &:hover{
        background-color: rgb(108, 108, 202);
    }
}