.navigation{
    display: flex;
     height: 50px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    .logo{
        // padding-left: 1.5rem;
        img{
            height: 100%;
        }
    }
    nav{
        ul{
            display: flex;
            list-style: none;
        }
    }
}