.information {
  padding: 5% 1%;
  width: 90vw;

  .card-container {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .information {
    margin: 0 auto;
  }
}
