@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap?&family=Quicksand');
body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 248);
  font-family: 'Roboto Mono', monospace;
}

*{
  margin: 0;
  padding: 0;
}
a{
  color: rgb(133, 133, 228);
  text-decoration: none;
}